@{
    ViewData["Title"] = "Tiquetes";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Administración de Tiquetes</h1>
        <p>Información de Tiquetes registrados</p>
        </br>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#crearTikete"><i class="fa fa-plus" aria-hidden="true"></i>Agregar</button>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tiquetes</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="ttiquete">
                        <thead>
                            <tr>
                                <th>No Caso</th>
                                <th>Cliente</th>
                                <th>Estado</th>
                                <th>Servicio</th>
                                <th>Fecha de Ingreso</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tiger Nixon</td>
                                <td>Abierto</td>
                                <td>Mantenimiento</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Garrett Winters</td>
                                <td>Revisión</td>
                                <td>Proyecto</td>
                                <td>2011/07/25</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Ashton Cox</td>
                                <td>Abierto</td>
                                <td>Transporte</td>
                                <td>2009/01/12</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Cedric Kelly</td>
                                <td>En Proceso</td>
                                <td>Mantenimiento</td>
                                <td>2012/03/29</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Airi Satou</td>
                                <td>Entrega</td>
                                <td>Proyecto</td>
                                <td>2008/11/28</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Brielle Williamson</td>
                                <td>Cerrado</td>
                                <td>Mantenimiento</td>
                                <td>2012/12/02</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Herrod Chandler</td>
                                <td>Cancelado</td>
                                <td>Proyecto</td>
                                <td>2012/08/06</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/plugins/jquery.datatables.min.js"></script>
<script src="~/js/plugins/datatables.bootstrap.min.js"></script>
<script type="text/javascript">$('#ttiquete').DataTable();</script>