
@{
    ViewData["Title"] = "IndexCliente";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}

<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Crear una nueva Solicitud</h1>
        <p>
            ¡Bienvenido al sistema! Utiliza este enlace para crear tu solicitud. ¡Esperamos recibirla pronto!
        </p>
        <p><a class="btn btn-primary btn-lg" href="#">Crear</a></p>
    </div>
</div>


<script>
    // Ejemplo de código JavaScript y AJAX para recibir el mensaje del controlador y mostrar SweetAlert

    $(document).ready(function () {
        // Realizar una llamada AJAX al controlador para ejecutar la acción
        $.ajax({
            url: '@Url.Action("IndexCliente", "Tiquete")',
            type: 'GET',
            success: function () {
                // Mostrar SweetAlert con el mensaje recibido del controlador
                Swal.fire({
                    title: 'Mensaje',
                    text: 'Hola',
                    icon: 'success' // o 'error' si deseas mostrar una alerta de error
                });
            },
            error: function () {
                // Mostrar SweetAlert en caso de error en la llamada AJAX
                Swal.fire({
                    title: 'Error',
                    text: 'Ha ocurrido un error al ejecutar la acción',
                    icon: 'error'
                });
            }
        });
    });
</script>

