@{
    ViewData["Title"] = "Tiquetes";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}
<link href="~/css/excss.css" rel="stylesheet" />
<div class="app-title">
    <div>
        <h1><i ></i>Tiquetes</h1>
        <p>Detalle de tiquetes en proceso</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><a asp-action="Principal" asp-controller="Cliente"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item active"><a asp-action="Ticket" asp-controller="TiquetesProcesoAS">Tiquetes en proceso</a></li>
        </ul>
    </ul>
</div>
<ul class="nav nav-pills grouping_tabs">
    <li class="active">
        <a href="#" class="status-tab" data-status="Asignado">
            <div class="custom-square">
                <span class="badge">En revisión</span>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="status-tab" data-status="Pendiente información">
            <div class="custom-square">
                <span class="badge">Pendiente Información</span>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="status-tab" data-status="En Proceso">
            <div class="custom-square">
                <span class="badge">En Proceso</span>
            </div>
        </a>
    </li>
    <!-- Agrega más elementos ul para otros estados de los tickets -->
</ul>

<div id="vista_parcial_container"></div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            var statusTabs = $('.status-tab');

            statusTabs.on('click', function (event) {
                event.preventDefault();

                var status = $(this).data('status');

                cargarVistaParcial(status);

                // Remueve la clase 'active-button' de todos los divs custom-square
                $('.custom-square').removeClass('active-button');

                // Agrega la clase 'active-button' al div custom-square clickeado
                $(this).find('.custom-square').addClass('active-button');
            });

            // Cargar la vista parcial correspondiente al estado "Asignado" por defecto
            var firstTabLink = statusTabs.first();
            var status = firstTabLink.data('status');
            cargarVistaParcial(status);

            // Opcional: Agregar la clase 'active-button' al div custom-square del estado "Asignado" por defecto
            firstTabLink.find('.custom-square').addClass('active-button');
        });

        function cargarVistaParcial(status) {
            var container = $('#vista_parcial_container');

            // Realiza la llamada AJAX para cargar la vista parcial
            $.ajax({
                url: '/Ticket/TiquetesProcesoAjax',
                type: 'GET',
                data: { status: status },
                success: function (result) {
                    container.html(result);
                },
                error: function (xhr, status, error) {
                    console.log('Error al cargar la vista parcial:', error);
                }
            });
        }

    </script>
    
}
