@model IEnumerable<OdinWeb.Models.Obj.Branch>

@{
    ViewData["Title"] = "BranchByTickets";
}
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 10px;
        width: 300px;
        background-color: #fff;
    }

    .card-header {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
    }
</style>

<div class="app-title">
    <div>
        <h1><i class="fa fa-building"></i> Listado de sucursales</h1>
        <p>Detalle de sucursales</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="BranchByTickets" asp-controller="Branch">Listado de Sucursales</a></li>
    </ul>
</div>

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-4">
                <div class="bs-component">
                    <div class="card" onclick="redirectToAction('@Url.Action("GetTicketsByBranch", "Ticket", new { idbranch = item.id, nombre = item.name})')">
                        <div style="height: 200px; width: 100%; display: flex; justify-content: center; align-items: center;" class="bg-primary">
                            <i style="color: white;" class="app-menu__icon fa fa-building fa-3x"></i>
                        </div>
                        <h5 class="card-title" style="text-align:center; margin: 10px 0px;">Sucursal de @item.name</h5>
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function redirectToAction(url) {
        window.location.href = url;
    }</script>


