@model OdinWeb.Models.Obj.Branch
@{
    ViewData["Title"] = "Editar Sucursal";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-building"></i> Administración de Sucursales</h1>
        <p>Sucursales Registradas</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Branch">Sucursales</a></li>
        <li class="breadcrumb-item active"><a asp-action="Editar" asp-controller="Branch">Editar</a></li>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <h3 class="tile-title">Editar Sucursal</h3>
        <hr>
        <div class="tile-body">
            <form asp-action="Actualizar" asp-controller="Branch" method="post">
                <input type="hidden" asp-for="id">
                <div class="form-group">
                    <label asp-for="name" class="control-label">Nombre</label>
                    <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="direction" class="control-label">Dirección</label>
                    <textarea asp-for="direction" class="form-control" rows="5" placeholder="Ingrese la dirección"></textarea>
                    <span asp-validation-for="direction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="animated-checkbox">
                        <label>
                        <input asp-for="active" type="checkbox"><span class="label-text"></span>
                        </label>
                        <label asp-for="active" class="control-label"> Sucursal Activa</label>
                    </div>
                </div>
                <div class="tile-footer">
                    <a class="btn btn-secondary" asp-action="Home" asp-controller="Branch"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>

