@model OdinWeb.Models.Obj.Branch
@{
    ViewData["Title"] = "Ver Sucursal";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Ver Sucursal</h3>
        <div class="tile-body">
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre" readonly>
            </div>
            <div class="form-group">
                <label asp-for="direction" class="control-label"></label>
                <input asp-for="direction" class="form-control" rows="4" placeholder="Ingrese la direccion" readonly>
                <span asp-validation-for="direction"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <div class="toggle-flip">
                    <label>
                        <input asp-for="active" type="checkbox"><span class="flip-indecator" data-toggle-on="Activo" data-toggle-off="Inactivo"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Branch"><i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver</a>
        </div>
    </div>
</div>

