@{
    ViewData["Title"] = "Crear Cliente";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Crear Cliente</h3>
        <div class="tile-body">
            <form>
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" type="text" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label class="control-label">Apellidos</label>
                    <input class="form-control" type="text" placeholder="Ingrese sus Apellidos">
                </div>
                <div class="form-group">
                    <label class="control-label">Correo</label>
                    <input class="form-control" type="email" placeholder="Ingrese su Correo">
                </div>
                <div class="form-group">
                    <label class="control-label">Dirreción</label>
                    <textarea class="form-control" rows="4" placeholder="Ingrese su dirreción"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Sucursal</label>
                    <select class="form-control" name="sucursal">
                        <option value="San José">San José</option>
                        <option value="Cartago">Cartago</option>
                        <option value="Heredia">Heredia</option>
                        <option value="Guanacaste">Guanacaste</option>
                    </select>
                </div>
                

                <div class="form-group">
                    <label class="control-label">Sexo</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sexo">Masculino
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sexo">Femenino
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Imagen de perfil</label>
                    <input class="form-control" type="file">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">Acepto los termninos y condiciones.
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="tile-footer">
            <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Crear</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
        </div>
    </div>
</div>