@model OdinWeb.Models.Obj.User
@{
    ViewData["Title"] = "Editar Usuario";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-users"></i> Administración de Clientes</h1>
        <p>Clientes registrados</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Cliente">Clientes</a></li>
        <li class="breadcrumb-item active"><a asp-action="Editar" asp-controller="Cliente">Editar</a></li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Editar Cliente</h3>
        <hr>
        <div class="tile-body">
            <form asp-action="Actualizar" asp-controller="Cliente" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="id">
                <input type="hidden" asp-for="password">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="name" class="control-label">Nombre</label>
                            <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="lastName" class="control-label">Apellidos</label>
                            <input asp-for="lastName" class="form-control" rows="2" placeholder="Ingrese el apellido"></input>
                            <span asp-validation-for="lastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="mail" class="control-label">Correo</label>
                            <input asp-for="mail" class="form-control" rows="2" placeholder="Ingrese el correo"></input>
                            <span asp-validation-for="mail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="phone" class="control-label">Teléfono</label>
                            <input asp-for="phone" class="form-control" rows="2" placeholder="Ingrese el teléfono"></input>
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="active" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="active" class="control-label"> Cliente Activo</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Sucursal</label>
                            @Html.DropDownList("idBranch", (IEnumerable<SelectListItem>)ViewData["Branches"], new { @class = "form-control form-select mb-3" })
                        </div>
                    </div>
                </div>
                <div class="tile-footer">
                    <a class="btn btn-secondary" asp-action="Home" asp-controller="Cliente"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<div class="form-group">
    <label asp-for="password" class="control-label"></label>
    <input type="password" asp-for="password" class="form-control" rows="4" placeholder="Ingrese la contraseña temporal"></input>
    <span asp-validation-for="password"></span>
</div>*@