
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}

<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Crear una nueva solicitud</h1>
        <p>Seleccione Ir para crear una nueva solicitud</p>
        <p><a class="btn btn-primary btn-lg" href="#">Ir</a></p>
    </div>
</div>

