
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}

<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Crear una nueva Solicitud</h1>
        <p>
            ¡Bienvenido al sistema! Utiliza este enlace para crear tu solicitud. ¡Esperamos recibirla pronto!
        </p>
        <p><a class="btn btn-primary btn-lg" asp-action="HCliente" asp-controller="Servicio">Ir</a></p>
    </div>
    <div id="body1"> 
        <div id="chat-circle" class="btn btn-raised">
                <div id="chat-overlay"></div>
		        <i class="fa fa-lock fa-lg"></i>
	    </div>
        <div class="chat-box">
            <div class="chat-box-header">
                ChatBot
                <span class="chat-box-toggle"><i class="material-icons">close</i></span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">   
                </div>
                <div class="chat-logs">
       
                </div><!--chat-log -->
            </div>
            <div class="chat-input">      
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..."/>
                    <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                </form>      
            </div>
        </div>
    </div>
</div>



