@inject OdinWeb.Models.Data.Interfaces.ITicketModel Tiquetes
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}
<h2>Infromación de estado de solicitudes</h2>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-eye fa-3x"></i>
            <div class="info">
                <h4>En Revisión</h4>
                <p><b>@Tiquetes.GetTicketsClientsStatus("Asignado").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-exclamation-triangle fa-3x"></i>
            <div class="info">
                <h4>Falta de información</h4>
                <p><b>@Tiquetes.GetTicketsClientsStatus("Pendiente información").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>En Proceso</h4>
                <p><b>@Tiquetes.GetTicketsClientsStatus("En Proceso").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Finalizados</h4>
                <p><b>@Tiquetes.GetTicketsClientsStatus("Finalizado").Count()</b></p>
            </div>
        </div>
    </div>
</div>

<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Crear una nueva Solicitud</h1>
        <p>
            ¡Bienvenido al sistema! Utiliza este enlace para crear tu solicitud. ¡Esperamos recibirla pronto!
        </p>
        <p><a class="btn btn-primary btn-lg" asp-action="HCliente" asp-controller="Servicio">Ir</a></p>
    </div>
    <div id="body1"> 
        <div id="chat-circle" class="btn btn-raised">
                <div id="chat-overlay"></div>
		        <i class="fa fa-lock fa-lg"></i>
	    </div>
        <div class="chat-box">
            <div class="chat-box-header">
                ChatBot
                <span class="chat-box-toggle"><i class="material-icons">close</i></span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">   
                </div>
                <div class="chat-logs">
       
                </div><!--chat-log -->
            </div>
            <div class="chat-input">      
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..."/>
                    <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                </form>      
            </div>
        </div>
    </div>
</div>



