
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}

<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Crear una nueva Solicitud</h1>
        <p>
            ¡Bienvenido al sistema! Utiliza este enlace para crear tu solicitud. ¡Esperamos recibirla pronto!
        </p>
        <p><a class="btn btn-primary btn-lg" asp-action="HCliente" asp-controller="Servicio">Ir</a></p>
    </div>
</div>

