@{
    ViewData["Title"] = "Ver Cliente";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Ver Cliente</h3>
        <div class="tile-body">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input class="form-control" type="text" value="Nombre del cliente" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Apellidos</label>
                <input class="form-control" type="text" value="Apellidos del cliente" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Correo</label>
                <input class="form-control" type="email" value="correo@ejemplo.com" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Dirección</label>
                <textarea class="form-control" rows="4" readonly>Dirección del cliente</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Sucursal</label>
                <input class="form-control" type="text" value="San José" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Sexo</label>
                <input class="form-control" type="text" value="Masculino" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen de perfil</label>
                <img src="ruta/de/la/imagen" alt="Imagen de perfil" class="img-fluid">
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-primary" href="#"><i class="fa fa-fw fa-lg fa-pencil"></i>Editar</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>Volver</a>
        </div>
    </div>
</div>
