@model OdinWeb.Models.Obj.ServiceUDP
@{
    ViewData["Title"] = "Crear Servicio";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-solid fa-car"></i> Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Servicio"> Servicios</a></li>
                <li class="breadcrumb-item active"><a asp-action="Crear" asp-controller="Servicio"> Crear Servicio</a></li>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <h3 class="tile-title">Crear Servicio</h3>
        <div class="tile-body">
            <form asp-action="Guardar" asp-controller="Servicio" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="name" class="control-label"></label>
                            <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="description" class="control-label"></label>
                            <textarea asp-for="description" class="form-control" rows="6" placeholder="Ingrese una descripcion"></textarea>
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="requirements" class="control-label"></label>
                            <textarea id="requirements" asp-for="requirements" class="form-control" rows="6" placeholder="Ingrese los requerimientos necesarios para tomar el ticket"></textarea>
                            <span asp-validation-for="requirements" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <div class="animated-checkbox">
                                    <label>
                                    <input asp-for="active" type="checkbox"><span class="label-text"></span>
                                    </label>
                                    <label asp-for="active" class="control-label"> Servicio Activo</label>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input id="subServiceCheck" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label class="control-label">Crear como sub servicio</label>
                            </div>
                        </div>
                        <span class="subService" id="subService">
                            <div class="form-group">
                                <label class="control-label">Seleccione el servicio</label>
                                @Html.DropDownList("idServiceMain", (IEnumerable<SelectListItem>)ViewData["Services"], new { @class = "form-control form-select mb-3" })
                            </div>
                        
                        </span>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="transport" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="transport" class="control-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="toAdministrator" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="toAdministrator" class="control-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Imagen de servico</label>
                            <input asp-for="image" class="form-control" type="file">
                            <span asp-validation-for="image" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="previsualizacionContainer" style="display: none;">
                            <img id="imagenPrevisualizacion" src="#" alt="Previsualización de la imagen" style="max-width: 100%; max-height: 200px;" />
                        </div>
                    </div>
                 </div>             
                <div class="tile-footer">
                    <a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var subServiceCheck = document.getElementById('subServiceCheck');

    subServiceCheck.addEventListener("change", comprueba, false);

    function comprueba(){
        var comboService = document.getElementById('subService');
        if(subServiceCheck.checked){
            //Activado
            comboService.classList.remove("subService");
        }else{
            //Desactivado
            comboService.classList.add("subService");
            document.getElementById("idServiceMain").value=0;
        }
    }
    function actualizarPrevisualizacion() {
        var fileInput = document.getElementById('image');
        var previsualizacionContainer = document.getElementById('previsualizacionContainer');
        var imgPrevisualizacion = document.getElementById('imagenPrevisualizacion');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPrevisualizacion.setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
            previsualizacionContainer.style.display = 'block';
        } else {
            imgPrevisualizacion.setAttribute('src', '#');
            previsualizacionContainer.style.display = 'none';
        }
    }

    // Asignar los eventos change y load al input de tipo file
    var imagenInput = document.getElementById('image');
    imagenInput.addEventListener('change', actualizarPrevisualizacion);
    imagenInput.addEventListener('load', actualizarPrevisualizacion);
</script>