@model OdinWeb.Models.Obj.ServiceUDP
@{
    ViewData["Title"] = "Crear Servicio";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Crear Servicio</h3>
        <div class="tile-body">
            <form asp-action="Guardar" asp-controller="Servicio" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <textarea asp-for="description" class="form-control" rows="4" placeholder="Ingrese una descripcion"></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="active" class="control-label"></label>
                    @foreach (var opcion in (List<SelectListItem>)ViewData["Estados"])
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                <input asp-for="active" class="form-check-input" type="radio" name="active" value="@opcion.Value"> @opcion.Text
                            </label>
                        </div>
                    }
                    <span asp-validation-for="active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="subServiceCheck">
                    <label class="control-label">Crear como sub servicio</label>
                </div>
                <span class="subService" id="subService">
                    <div class="form-group">
                        <label class="control-label">Seleccione el servicio</label>
                        @Html.DropDownList("idServiceMain", (IEnumerable<SelectListItem>)ViewData["Services"], new { @class = "form-control form-select mb-3" })
                    </div>
                    <div class="form-group">
                        <label asp-for="requirements" class="control-label"></label>
                        <textarea id="requirements" asp-for="requirements" class="form-control" rows="4" placeholder="Ingrese los requerimientos necesarios para tomar el ticket"></textarea>
                        <span asp-validation-for="requirements" class="text-danger"></span>
                    </div>
                </span>
                <div class="form-group">
                    <input asp-for="transport" type="checkbox">
                    <label asp-for="transport" class="control-label"></label>
                    <span asp-validation-for="transport" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="toAdministrator" type="checkbox">
                    <label asp-for="toAdministrator" class="control-label"></label>
                    <span asp-validation-for="toAdministrator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Imagen de servico</label>
                    <input asp-for="image" class="form-control" type="file" data-val="false">
                    <span asp-validation-for="image" class="text-danger"></span>
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Crear</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var subServiceCheck = document.getElementById('subServiceCheck');

    subServiceCheck.addEventListener("change", comprueba, false);

    function comprueba(){
        var comboService = document.getElementById('subService');
        if(subServiceCheck.checked){
            //Activado
            comboService.classList.remove("subService");
        }else{
            //Desactivado
            comboService.classList.add("subService");
            document.getElementById("requirements").value=null;
            document.getElementById("idServiceMain").value=0;
        }
    }
</script>