@model OdinWeb.Models.Obj.ServiceUDP
@{
    ViewData["Title"] = "Editar Servicio";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-solid fa-car"></i> Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Servicio">Servicios</a></li>
        <li class="breadcrumb-item active"><a asp-action="Editar" asp-controller="Servicio">Editar</a></li>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <h3 class="tile-title">Editar Servicio</h3>
        <form asp-action="Actualizar" asp-controller="Servicio" method="post" enctype="multipart/form-data">
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="id">

                        <div class="form-group">
                            <label asp-for="name" class="control-label">Nombre</label>
                            <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="description" class="control-label">Descripción</label>
                            <textarea asp-for="description" class="form-control" rows="4" placeholder="Ingrese su dirección"></textarea>
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="requirements" class="control-label"></label>
                            <textarea id="requirements" asp-for="requirements" class="form-control" rows="6" placeholder="Ingrese los requerimientos necesarios para tomar el ticket"></textarea>
                            <span asp-validation-for="requirements" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="active" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="active" class="control-label"> Servicio Activo</label>
                            </div>
                        </div>
                        
                            <div class="form-group">
                                <div class="animated-checkbox">                                   
                                    <label>
                                        @if (Model.idServiceMain != null)
                                        {
                                            <input type="checkbox" id="subServiceCheck" checked>

                                            <span class="label-text"></span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="subServiceCheck">

                                            <span class="label-text"></span>
                                        }
                                    </label>
                                    <label class="control-label" >Crear como sub servicio</label>
                                </div>
                            </div>
                            <span class="subService" id="subService">
                                <div class="form-group">
                                    <label class="control-label">Seleccione el servicio</label>
                                    @Html.DropDownList("idServiceMain", (IEnumerable<SelectListItem>)ViewData["Services"], new { @class = "form-control form-select mb-3" })
                                </div>
                            </span>
                        
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="transport" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="transport" class="control-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="animated-checkbox">
                                <label>
                                    <input asp-for="toAdministrator" type="checkbox"><span class="label-text"></span>
                                </label>
                                <label asp-for="toAdministrator" class="control-label"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Imagen de servicio</label>
                                </div>
                                <div class="form-group">
                                    <img src="~/images/services/@Model.photo" alt="Imagen del servicio" style="width: 200px%; height: 200px;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="previsualizacionContainer" style="display: none;">
                                    <label class="control-label">Imagen actualizada</label>

                                    <img id="imagenPrevisualizacion" src="#" alt="Previsualización de la imagen" style="width: 200px%; height: 200px;" />
                                </div>
                            </div>
                    </div>
                        <input asp-for="imageU" class="form-control" type="file">
                </div>
            </div>
            <div class="tile-footer">
                <a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio">
                    <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar
                </a>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Actualizar</button>
            </div>
        </form>
   </div>
</div>
<script>
    var subServiceCheck = document.getElementById('subServiceCheck');
    //Comprueba apenas inicia
    comprueba()

    subServiceCheck.addEventListener("change", comprueba, false);

    function actualizarPrevisualizacion() {
        var fileInput = document.getElementById('imageU');
        var previsualizacionContainer = document.getElementById('previsualizacionContainer');
        var imgPrevisualizacion = document.getElementById('imagenPrevisualizacion');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPrevisualizacion.setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
            previsualizacionContainer.style.display = 'block';
        } else {
            imgPrevisualizacion.setAttribute('src', '#');
            previsualizacionContainer.style.display = 'none';
        }
    }
    var imagenInput = document.getElementById('imageU');
    imagenInput.addEventListener('change', actualizarPrevisualizacion);
    imagenInput.addEventListener('load', actualizarPrevisualizacion);
    function comprueba(){
        var comboService = document.getElementById('subService');
        if(subServiceCheck.checked){
            //Activado
            comboService.classList.remove("subService");
        }else{
            //Desactivado
            comboService.classList.add("subService");
            
            //comboBox.selectedIndex=0;
            var comboBox = document.getElementById("idServiceMain");
            var selectedOption = comboBox.querySelector('option[selected]');
  
            if (selectedOption) {
                selectedOption.removeAttribute('selected');
            }
        }
    }
    
</script>