@model OdinWeb.Models.Obj.Service
@inject OdinWeb.Models.Data.Interfaces.IServicioModel servicio;
@{
    ViewData["Title"] = "Ver Servicio";
    string nombreS = null;
    if (Model.idServiceMain!=null)
    {
        nombreS = servicio.GetServicioById(Model.idServiceMain).name;
    }    
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-solid fa-car"></i> Administración de Servicios</h1>
        <p>Servicios Ofrecidos</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active"><a asp-action="Home" asp-controller="Servicio"> Servicios</a></li>
        <li class="breadcrumb-item active"><a asp-action="Ver" asp-controller="Servicio"> Información</a></li>
    </ul>
</div>
<div class="col-md-8" style="margin: 0 auto;">
    <div class="tile">
        <h3 class="tile-title">Ver Servicio</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del Servicio</h5>
                    <p>@Model.name</p>
                    <h5>Descripción</h5>
                    <p>@Model.description</p>
                    <h5>Requerimientos</h5>
                    <p>@Model.requirements</p>
                    <h5>Categoria</h5>
                    @if (Model.idServiceMain != null)
                    {
                        <p>Sub Servicio</p>
                        <p>Servicio asociado: @nombreS</p>
                   }
                    else
                    {
                        <p>Servicio</p>
                    }
                    <div class="row">
                        <div class="col-md-5">
                            <h5>Estado del Servicio</h5>                           
                        </div>
                        <div class="col-md-7">
                            <h5>
                            @if (Model.active)
                            {
                                <span asp-for="active" class="badge badge-pill badge-success">Activo</span>
                            }
                            else
                            {
                                <span asp-for="active" class="badge badge-pill badge-danger">Inactivo</span>
                            }
                            </h5>                 
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <h5>Requiere Transporte</h5>
                        </div>
                        <div class="col-md-7">
                            <h5>
                                @if (Model.transport)
                                {
                                    <span asp-for="transport" class="badge badge-pill badge-success">Activo</span>
                                }
                                else
                                {
                                    <span asp-for="transport" class="badge badge-pill badge-danger">Inactivo</span>
                                }
                            </h5>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <h5>Asignado al Administrador</h5>
                        </div>
                        <div class="col-md-7">
                            <h5>
                                @if (Model.toAdministrator)
                                {
                                    <span asp-for="toAdministrator" class="badge badge-pill badge-success">Activo</span>
                                }
                                else
                                {
                                    <span asp-for="toAdministrator" class="badge badge-pill badge-danger">Inactivo</span>
                                }
                            </h5>
                        </div>
                    </div>
                    <br>
                    <h5>Imagen de Servicio</h5>
                    @if (!string.IsNullOrEmpty(Model.photo))
                    {
                        <img src="~/images/services/@Model.photo" alt="Imagen del servicio" width="200" width="200">
                    }
                    else
                    {
                        <p>No hay imagen disponible.</p>
                    }
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Servicio" onclick="history.back();">
                <i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver
            </a>
        </div>
    </div>
</div>

<script>
    var subServiceCheck = document.getElementById('subServiceCheck');
    //Comprueba apenas inicia
    comprueba()

    function comprueba(){
        var comboService = document.getElementById('subService');
        if(subServiceCheck.checked){
            //Activado
            comboService.classList.remove("subService");
        }else{
            //Desactivado
            comboService.classList.add("subService");
        }
    }
</script>