
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .chart {
        width: 400px;
        height: 200px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
    }

    .bar {
        flex: 1;
        background-color: #007bff;
        margin: 0 2px;
        transition: height 0.5s;
    }
</style>

<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Inicio</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Tiquetes abiertos</h4>
                <p><b>@ViewData["CantOpen"]</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Tiquetes asignados</h4>
                <p><b>@ViewData["CantAssign"]</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Tiquetes por tiempo transcurrido</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="graficoTiempos"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Tiquetes abiertos</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        fetch("/Ticket/GetTicketsOpen_Close")
            .then(response => response.json())
            .then(data => {
                var pdata = [
                    {
                        value: data.cerrados,
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "Cerrados"
                    },
                    {
                        value: data.abiertos,
                        color: "#F7464A",
                        highlight: "#FF5A5E",
                        label: "Abiertos"
                    }
                ]
                var ctxp = $("#pieChartDemo").get(0).getContext("2d");
                var pieChart = new Chart(ctxp).Pie(pdata);
            })
            .catch(error => {
                console.error("Error al obtener los datos: " + error);
            });

        fetch("/Ticket/GetTicketsXTime")
            .then(response => response.json())
            .then(d => {
                console.log(d);
                var data = {
                    labels: [],
                    datasets: [
                        {
                            label: "My First dataset",
                            backgroundColor: "rgba(220,220,220,0.2)",
                            borderColor: "rgba(220,220,220,1)",
                            borderWidth: 1,
                            data: []
                        }
                    ]
                };
                d.forEach(function (element, index, array) {
                    data.labels.push(element.ticketId);
                    data.datasets[0].data.push(element.tiempoTranscurrido);
                });
                

                var ctx = $("#graficoTiempos").get(0).getContext("2d");
                var pieChart = new Chart(ctx).Bar(data);
            })
            .catch(error => {
                console.error("Error al obtener los datos: " + error);
            });
    </script>
}