@inject OdinWeb.Models.Data.Interfaces.ITicketModel Tiquetes
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i ></i> Inicio</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Principal" asp-controller="Supervisor"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="Principal" asp-controller="Supervisor">Inicio</a></li>
    </ul>
</div>
<h3>Información de estado de Tiquetes Asiganados</h3>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-eye fa-3x"></i>
            <div class="info">
                <h4>En Revisión</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Asignado").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-exclamation-triangle fa-3x"></i>
            <div class="info">
                <h4>Falta de información</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Pendiente información").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>En Proceso</h4>
                <p><b>@Tiquetes.GetAssignedTickets("En Proceso").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>Finalizado</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Finalizado").Count()</b></p>
            </div>
        </div>
    </div>
</div>