@inject OdinWeb.Models.Data.Interfaces.ITicketModel Tiquetes
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i ></i> Inicio</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Principal" asp-controller="Supervisor"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="Principal" asp-controller="Supervisor">Inicio</a></li>
    </ul>
</div>
<h2>Información de estado de Tiquetes Asiganados</h2>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-eye fa-3x"></i>
            <div class="info">
                <h4>En Revisión</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Asignado").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-exclamation-triangle fa-3x"></i>
            <div class="info">
                <h4>Falta de información</h4>
                <p><b>@Tiquetes.GetAssignedTickets("Pendiente información").Count()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-spinner fa-3x"></i>
            <div class="info">
                <h4>En Proceso</h4>
                <p><b>@Tiquetes.GetAssignedTickets("En Proceso").Count()</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Tiquetes por tiempo transcurrido</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Tiquetes abiertos</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var data = {
            labels: ["January", "February", "March", "April", "May"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86]
                }
            ]
        };
        var pdata = [
            {
                value: 25,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Cerrados"
            },
            {
                value: 5,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Abiertos"
            }
        ]

        var ctxl = $("#lineChartDemo").get(0).getContext("2d");
        var lineChart = new Chart(ctxl).Line(data);

        var ctxp = $("#pieChartDemo").get(0).getContext("2d");
        var pieChart = new Chart(ctxp).Pie(pdata);
    </script>
}


