@model OdinWeb.Models.Obj.User
@{
    ViewData["Title"] = "Ver Supervisor";
}
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Ver Supervisor</h3>
        <div class="tile-body">
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type="text" placeholder="Ingrese el nombre" readonly>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" rows="4" placeholder="Ingrese el apellido" readonly>
                <span asp-validation-for="lastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" rows="4" placeholder="Ingrese el correo" readonly>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" rows="4" placeholder="Ingrese el telefono" readonly>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                @foreach (var opcion in (List<SelectListItem>)ViewData["Estados"])
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input asp-for="active" class="form-check-input" type="radio" name="active" value="@opcion.Value" readonly> @opcion.Text
                        </label>
                    </div>
                }
            </div>
            <div>
                <label>Seleccione la sucursal</label>
                @Html.DropDownList("idBranch", (IEnumerable<SelectListItem>)ViewData["Branches"], new { @class = "form-control form-select mb-3", @disabled = "disabled" })
            </div>
        </div>
        <div class="tile-footer">
            <a class="btn btn-secondary" asp-action="Home" asp-controller="Supervisor"><i class="fa fa-fw fa-lg fa-arrow-left"></i>Volver</a>
        </div>
    </div>
</div>
