@model OdinWeb.Models.Obj.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Radiadores Odín C.R</h1>
    </div>
    <div class="changePass-box">
        <form class="login-form" asp-action="ChangePasswordP" asp-controller="Auth" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Cambiar contraseña</h3>
            <div class="form-group">
                <input asp-for="id" class="form-control" type="hidden">  
            </div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" type="password" placeholder="*********" autofocus>
                <span asp-validation-for="oldPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" placeholder="*********" autofocus>
                <span asp-validation-for="password"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmpassword" class="control-label"></label>
                <input asp-for="confirmpassword" class="form-control" type="password" placeholder="*********" autofocus>
                <span asp-validation-for="confirmpassword"></span>
            </div>          
            <div class="form-group btn-container">
                <button type="submit" class="btn btn-primary btn-block" href=""><i class="fa fa-sign-in fa-lg fa-fw"></i>Cambiar</button>
            </div>
           
        </form>
    </div>
</section>
@if (!string.IsNullOrEmpty(TempData["AlertMessage"] as string))
{
    <script>
        Swal.fire({
            icon: '@TempData["AlertType"]',
            title: '@TempData["AlertMessage"]',
            showConfirmButton: false,
            timer: 4000 // Duración de la alerta en milisegundos (2 segundos en este ejemplo)
        });
    </script>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
