@model OdinWeb.Models.Obj.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}

<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Radiadores Odín C.R</h1>
    </div>
    <div class="login-box">
        <form class="login-form" asp-action="Validate" asp-controller="Auth" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Iniciar Sesión</h3>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input asp-for="User.mail" class="form-control" type="text" placeholder="ejemplo@gmail.com" autofocus>
                <span asp-validation-for="User.mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="User.password" class="form-control" type="password" placeholder="*****">
                <span asp-validation-for="User.password" class="text-danger"></span>
            </div>
            <p class="semibold-text mb-2"><a asp-controller="Auth" asp-action="Registration">¿Aún no tiene una cuenta?</a></p>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">Recordarme</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-2"><a href="#" data-toggle="flip">¿Olvidó su contraseña?</a></p>
                </div>
            </div>
            <div class="form-group btn-container">
                <button type="submit" class="btn btn-primary btn-block" href=""><i class="fa fa-sign-in fa-lg fa-fw"></i>Iniciar Sesión</button>
            </div>
        </form>

        <form class="forget-form" asp-action="RestorePassword" asp-controller="Auth" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>¿Olvidó su contraseña?</h3>
            <div class="form-group">  
                <label class="control-label">Correo Electrónico</label>
                <input asp-for="RestorePassword.mail" class="form-control" type="email" placeholder="ejemplo@gmail.com" autofocus>
                <span asp-validation-for="RestorePassword.mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Número de Teléfono</label>
                <input asp-for="RestorePassword.phone" class="form-control" type="tel" placeholder="88888888" autofocus>
                <span asp-validation-for="RestorePassword.phone" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(ViewData["ReturnUrl"] as string))
            {
                <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
            }
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Restablecer</button>
            </div>
            <div class="form-group mt-3">
                <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa fa-angle-left fa-fw"></i>Regresar a inicio de sesión</a></p>
            </div>
        </form>
    </div>
</section>
