@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}

<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Radiadores Odín C.R</h1>
    </div>
    <div class="login-box">
        <form class="login-form" action="/Home/Index">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Iniciar Sesion</h3>
            <div class="form-group">
                <label class="control-label">Correo</label>
                <input class="form-control" type="text" placeholder="ejemplo@gmail.com" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input class="form-control" type="password" placeholder="*****">
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">Recordarme</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-2"><a href="#" data-toggle="flip">¿Olvidó su contraseña?</a></p>
                </div>
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block" href=""><i class="fa fa-sign-in fa-lg fa-fw"></i>Iniciar Sesion</button>
            </div>
        </form>
        <form class="forget-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>¿Olvidó su contraseña?</h3>
            <div class="form-group">
                <label class="control-label">Correo</label>
                <input class="form-control" type="text" placeholder="ejemplo@gmail.com">
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Reestablecer</button>
            </div>
            <div class="form-group mt-3">
                <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i>Regresar a inicio de sesion</a></p>
            </div>
        </form>
    </div>
</section>